

/* FACILITES  */
.facilities {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  background: var(--Accent-Opacity, #f7f0eb);
}

.facilities .frame {
  width: 1300px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.facilities .frame .card {
  margin-top: 30px;
  width: 300px;
  height: 100px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.facilities .frame .strong {
  color: var(--Accent-Color, #c28566);
  font-family: "Poppins";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 42px */
  text-transform: capitalize;
  flex-direction: row;
  justify-content: start;
}

.facilities .frame .span {
  margin-top: 20px;
  color: var(--Black, #394149);
  font-family: "Poppins";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 26.4px */
  text-transform: capitalize;
}

.event-frame {
  width: 100%;
  height: 857px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-frame .event-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-frame .event-section .event-title {
  color: var(--Black, #394149);
  font-family: "Poppins";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.event-frame .event-section .event-blog {
  width: 100%;
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-frame .event-section .event-blog .blog {
  margin-top: 30px;
  width: 400px;
  height: 480px;
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: center;
}
.event-frame .event-section .event-blog .blog .blog-image {
  width: 100%;
  height: 450px;
  justify-content: end;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.event-frame .event-section .event-blog .blog .blog-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px; /* Optional, for rounded corners */
  object-fit: cover;
}

.event-frame .event-section .event-blog .blog .blog-image .blog-text {
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background: var(--Accent-Opacity, #f7f0eb);
  box-sizing: border-box;
  margin-bottom: 15px;
}

.blog-strong {
  color: var(--Black, #394149);
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 35px */
  margin-left: 30px;
  margin-top: 10px;
}

.blog-date {
  color: var(--Accent-Color, #c28566);
  font-family: "Poppins";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
  margin-left: 30px;
  margin-top: 10px;
}

.blog-description {
  color: var(--Paragraph-Color, #616161);
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  margin-left: 30px;
  margin-top: 10px;
}

.read-more {
  color: var(--Black, #394149);
  font-family: "Poppins";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 18px */
  letter-spacing: 2.55px;
  margin-left: 30px;
  margin-top: 10px;
}

.read-more:hover {
  cursor: pointer;
}

/* FEATURED PRODUCTS */
.arrivals-frame {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrivals-frame .arrivals-section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrivals-frame .arrivals-section .f-title {
  color: var(--Black, #394149);
  font-family: "Poppins";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.arrivals-frame .arrivals-section .f-card-grid {
  width: 100%;
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrivals-frame .arrivals-section .f-card-grid .f-card {
  width: 300px;
  height: 450px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  border-radius: 226.5px 226.5px 0px 0px;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.arrivals-frame .arrivals-section .f-card-grid .f-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.arrivals-frame .arrivals-section .f-card-grid .f-card-img {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.arrivals-frame .arrivals-section .f-card-grid .f-card-img .f-image {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrivals-frame .arrivals-section .f-card-grid .f-card-info {
  width: 300px;
  height: 100px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}

.arrivals-frame .arrivals-section .f-card-grid .f-card-info .f-info-box {
  width: 100%;
  height: auto;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.arrivals-frame
  .arrivals-section
  .f-card-grid
  .f-card-info
  .f-info-box
  .f-category-text {
  color: var(--Accent-Color, #c28566);
  font-family: "Rubik";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 27.2px */
}

.arrivals-frame .arrivals-section .f-card-grid .f-card-info .f-info-name {
  color: var(--Black, #394149);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: "Poppins";
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 33.6px */
}

.arrivals-frame .arrivals-section .f-card-grid .f-card-info .f-info-price {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.arrivals-frame
  .arrivals-section
  .f-card-grid
  .f-card-info
  .f-info-price
  .f-price {
  color: var(--Black, #394149);
  font-family: "Poppins";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 40px */
}

.arrivals-frame
  .arrivals-section
  .f-card-grid
  .f-card-info
  .f-info-price
  .f-discount {
  width: 52px;
  height: 26px;
  background: var(--Accent-Color, #c28566);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--White, #fff);
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 24px */
}


