.homepage {
  width: 100%;
  height: auto;
  background: var(--Background-Color, #FCF9F7);
}

/* Category Frame  */
.homepage .category-frame {
  width: 100%;
  height: 529px;
  display: flex;
}

.homepage .category-frame .category-section {
  margin-top: 5px;
  width: 1300px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.homepage .category-frame .category-section .cards-frame {
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .category-frame .category-section .cards-frame .card {
  width: 400px;
  height: 450px;
  cursor: pointer;
  border-radius: 226.5px 226.5px 0px 0px;
  align-items: flex-end;
  justify-items: end;
}

.homepage .category-frame .category-section .cards-frame .name {
  width: 133px;
  height: 133px;
  border-radius: 78px;
  background: var(--Accent-Opacity, #f7f0eb);
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /* shadow */
  box-shadow: 0px 7px 55px 0px rgba(9, 16, 20, 0.06);
}

.homepage .category-frame .category-section .cards-frame .name .text {
  color: var(--Black, #394149);
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 26.4px */
  text-transform: capitalize;
}

/* Popular Products */

.homepage .popular-frame {
  width: 100%;
  height: 580px;
  display: flex;
}

.homepage .popular-frame .popular-section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .popular-frame .popular-section .title {
  color: var(--Black, #394149);
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.homepage .popular-frame .popular-section .card-frame {
  width: 100%;
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .popular-frame .popular-section .card-frame .card {
  width: 300px;
  height: 450px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  border-radius: 226.5px 226.5px 0px 0px;
  align-items: center;
  cursor: pointer;
}

.homepage .popular-frame .popular-section .card-frame .card-img {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .popular-frame .popular-section .card-frame .card-img .image {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  object-fit: cover;
}

.homepage .popular-frame .popular-section .card-frame .card-info {
  width: 300px;
  height: 100px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.homepage .popular-frame .popular-section .card-frame .card-info .info-box {
  width: 100%;
  height: auto;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.homepage
  .popular-frame
  .popular-section
  .card-frame
  .card-info
  .info-box
  .category-text {
  color: var(--Accent-Color, #c28566);
  font-family: "Rubik";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 27.2px */
}

.homepage .popular-frame .popular-section .card-frame .card-info .info-name {
  color: var(--Black, #394149);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: "Poppins";
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 33.6px */
}

.homepage .popular-frame .popular-section .card-frame .card-info .info-price {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.homepage
  .popular-frame
  .popular-section
  .card-frame
  .card-info
  .info-price
  .price {
  color: var(--Black, #394149);
  font-family: "Poppins";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 40px */
}

.homepage
  .popular-frame
  .popular-section
  .card-frame
  .card-info
  .info-price
  .discount {
  width: 52px;
  height: 26px;
  background: var(--Accent-Color, #c28566);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--White, #fff);
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 24px */
}
