/* Updated heroSection.css */

/* Hero Section Wrapper */
.hero-section {
  position: relative;
  background-color: #fff6f2;
  padding: 4rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}

/* Container Styling */
.hero-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  max-width: 1200px;
  width: 100%;
  padding: 0 1rem;
  width: 1920px;
  height: 765px;
}

/* Image Section */
.hero-image {
  width: 700px;
  height: 658px;
  /* background: url("/public/img/banner2.jpg") lightgray 50% / cover no-repeat; */
  background-size: cover;
}

.hero-image-content {
  width: 1030px;
  height: 648px;
  flex-shrink: 0;
  margin-bottom: 55px;
}

/* Text Section */
.hero-text {
  width: 600px;
  height: 520px;
  margin-bottom: 55px;
  margin-top: 80px;
  background: var(--White, #fff);
  flex-direction: row;
}

.hero-subtitle {
  margin-left: 70px;
  margin-top: 70px;
  color: var(--Accent-Color, #c28566);
  font-family: "Rubik";
  font-size: 23px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  letter-spacing: 6.9px;
  text-transform: lowercase;
}

.hero-title {
  margin-left: 70px;

  color: var(--Black, #394149);
  font-family: "Poppins";
  font-size: 65px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 84.5px */
  text-transform: capitalize;
}

.highlight {
  color: var(--Accent-Color, #c28566);
  font-family: "Poppins";
  font-size: 65px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-transform: capitalize;
}

.hero-description {
  margin-left: 70px;
  margin-bottom: 40px;

  color: var(--Paragraph-Color, #616161);
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 28.8px */
}

.hero-button {
  margin-left: 70px;
  margin-top: 70px;
  width: 199px;
  height: 83px;
  background: var(--Accent-Color, #c28566);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hero-button .explore {
    color: var(--Home-2-Light, #FAEBE3);
    font-family: "Poppins";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 26.4px */
    letter-spacing: 3.74px;
    text-transform: capitalize;
    text-align: center;
    align-items: center;
  
}

.hero-button:hover {
  background-color: #f9d82f;
  
}

.buttons {
  justify-content: space-between;
  display: flex;
  flex-direction: row;

}