/* PRODUCTS PAGE */
.products-page {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.products-page .products {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .products .product-frame {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .products .product-frame .avatar-big-box {
  width: 269px;
  height: 133px;
  flex-shrink: 0;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .products .product-frame .avatar-big-box .product-title {
  color: var(--Black, #394149);
  font-family: "Poppins";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 86%; /* 43px */
  align-items: center;
  display: flex;
  flex-direction: column;
}

.products-page .products .product-frame .avatar-big-box .home-logo {
  width: 129px;
  height: 29px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  display: flex;
}

.products-page .products .product-frame .avatar-big-box .home-logo .logo {
  width: 129px;
  height: 29px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.products-page .products .product-frame .avatar-big-box .home-logo .logo-text {
  color: var(--Paragraph-Color, #616161);
  font-family: "Poppins";
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 28.8px */
  margin-left: 10px;
}

.products-page .products-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* sidebar */
.product-frame .sidebar {
  width: 320px;
  height: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.product-frame .sidebar .sidebar-section {
  margin-top: 20px;
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-frame .sidebar .sidebar-section .product-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  height: 40px;
  padding-top: 20px;
}

.product-frame .sidebar .sidebar-section .product-search .search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  height: 40px;
  padding-left: 5px;
}

.product-frame .sidebar .sidebar-section .product-search .search-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 40px;
  background-color: #c28566;
}

.product-frame .sidebar .sidebar-section .product-search .logo-search {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: auto;
}

.product-frame .sidebar .sidebar-section .sidebar-title {
  color: var(--Black, #394149);
  font-family: "Poppins";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 30px */
  margin-bottom: 20px;
  margin-top: 20px;
}

.product-frame .sidebar .sidebar-section .collection-list {
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-frame .sidebar .sidebar-section .category-options {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.product-frame .sidebar .sidebar-section .category-options strong {
  color: var(--Black, #394149);
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.product-frame .sidebar .sidebar-section .category-options span {
  color: var(--Black, #394149);
  font-family: "Sofia Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.product-frame .sidebar .sidebar-section .capacity-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 20px;

}
/* ALL PRODUCTS */
.product-frame {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-frame .products-part {
  width: 100%;
  justify-content: space-between;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.product-frame .products-part .f-card-grid {
  width: 100%;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.product-frame .products-part .f-card-grid .f-card {
  width: 300px;
  height: 450px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  border-radius: 226.5px 226.5px 0px 0px;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-frame .products-part .f-card-grid .f-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-frame .products-part .f-card-grid .f-card-img {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.product-frame .products-part .f-card-grid .f-card-img .f-image {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-frame .products-part .f-card-grid .f-card-info {
  width: 300px;
  height: 100px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}

.product-frame .products-part .f-card-grid .f-card-info .f-info-box {
  width: 100%;
  height: auto;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.product-frame
  .products-part
  .f-card-grid
  .f-card-info
  .f-info-box
  .f-category-text {
  color: var(--Accent-Color, #c28566);
  font-family: "Rubik";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 27.2px */
}

.product-frame .products-part .f-card-grid .f-card-info .f-info-name {
  color: var(--Black, #394149);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: "Poppins";
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 33.6px */
}

.product-frame .products-part .f-card-grid .f-card-info .f-info-price {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.product-frame .products-part .f-card-grid .f-card-info .f-info-price .f-price {
  color: var(--Black, #394149);
  font-family: "Poppins";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 40px */
}

.product-frame
  .products-part
  .f-card-grid
  .f-card-info
  .f-info-price
  .f-discount {
  width: 52px;
  height: 26px;
  background: var(--Accent-Color, #c28566);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--White, #fff);
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 24px */
}

.no-data {
  display: flex;

  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  margin-top: 200px;
  margin-left: 200px;
}

.MuiPaginationItem-root.Mui-selected {
  background-color: #c28566 !important; /* Your desired color */
  color: #fff !important; /* Optional: Change text color */
}

.product-frame .pagination-section {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 480px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

/* CHOSEN PRODUCT */
.chosen-product {
  background: #fcf9f7;
  padding: 20px;
}

.product-container {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 80px auto 150px;
}

.chosen-product-slider {
  width: 48%;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

.swiper-area {
  width: 100%;
  height: auto;
}

.slider-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.chosen-product-info {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-title {
  color: #394149;
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
}

.product-price {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.product-price strong {
  color: #c28566;
  font-size: 35px;
  font-weight: 700;
}

.product-price span {
  color: #83868c;
  font-size: 29px;
  text-decoration: line-through;
  margin-left: 10px;
}

.product-sizes {
  margin-top: 30px;
}

.sizes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  width: 286px;
}

.size-button {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
  text-align: center;
}

.size-button.active {
  background-color: #b87352;
  color: #fff;
  border-color: #b87352;
}

.quantity-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.quantity-button {
  padding: 8px;
  font-size: 16px;
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  color: #333;
  cursor: pointer;
}

.quantity-display {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e0e0e0;
  background-color: #fff;
}

.add-to-cart {
  background-color: #f5f5f5;
  color: #333;
  padding: 10px 20px;
  margin-top: 20px;
}

.buy-now {
  background-color: #b87352;
  color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
}

.delivery-info {
  margin-top: 45px;
}

.delivery-info span {
  display: flex;
  align-items: center;
  color: #394149;
  font-family: "Poppins";
  font-size: 16px;
  line-height: 160%;
}

.delivery-info strong {
  color: #616161;
  font-family: "Rubik";
  font-size: 15px;
  line-height: 160%;
  margin-top: 14px;
}